.wpion-1x{
	font-size: 1em
}

.wpion-2x{
	font-size: 2em
}

.wpion-3x{
	font-size: 3em
}

.wpion-4x{
	font-size: 4em
}

.wpion-5x{
	font-size: 5em
}

.wpion-6x{
	font-size: 6em
}

.wpion-7x{
	font-size: 7em
}

.wpion-8x{
	font-size: 8em
}

.wpion-9x{
	font-size: 9em
}

.wpion-10x{
	font-size: 10em
}
